* {
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ced4da;
}

.canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  background-color: white;
  width: 1000px;
  height: 500px;
}
